<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nirodha.houseapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SellerView" android:parentActivityName=".ProfileActivity"></activity>
        <activity
            android:name=".settingActivity"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewHouse"
            android:parentActivityName=".dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addnewHouse"
            android:parentActivityName=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginActivity"
            android:parentActivityName=".dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homeScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>